BOT_TOKEN=tu_token_de_telegram
GOOGLE_CREDENTIALS_JSON={"type":"service_account","project_id":"...","private_key_id":"...","private_key":"-----BEGIN PRIVATE KEY-----\n...\n-----END PRIVATE KEY-----\n","client_email":"...","client_id":"..."}
USER_SHEETS={"1282471582":"1LDvfbRQPK2b2vndHhkUyyBUuqVXI5vzq5_3B2UaY1G0","5592032215":"1gfmQvtl_kGMMdjtLXuO7Ybt1z1G5YRcoAviuBaGTt3E"}
TZ=America/Guatemala
ENV=production
API_BASE_URL=https://web-production-43bab.up.railway.app
CORS_ORIGINS=["*"]
